#email-feedback {
    margin-top: 10px;
    font- weight: bold;
}

#username-feedback {
    margin-top: 10px;
}

#descricao-projeto {
    margin-top: 10px;
}

#tag-input {
    margin-top: 10px;
}

#publicar-btn {
    margin-bottom: 100px;
}

#email {
    margin-top: 10px
}

#mensagem {
    margin-top: 10px
}

#enviar-btn {
    margin-top: 10px
}